  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">CONNECTX</a>
      <a data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a  >
    </div>
  </nav>
  <ul id="slide-out" class="sidenav">
    <li><a href="#!"><i class="material-icons">description</i>Reports</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#!">Logout</a></li>
  </ul>
  